<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <form method="post">

        <label>Descricao:</label>
        <input type="text" name="descricao" id="descricao">

        <label>Preco compra:</label>
        <input type="text" name="precocompra" id="precocompra">

        <label>Preco venda:</label>
        <input type="text" name="precovenda" id="precovenda">

        <p><input type=submit value=Cadastrar>

    </form>

</body>
</html>